* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

ul li {
    list-style: none;
    cursor: pointer;
}